:root {
  --main-font: 'Raleway', sans-serif;
  --font-size: 16px;
  --main-color: #385da6;
  --quinto-color: #0d0d0d;
  --cuarto-color: #f2f2f2;
  --tercer-color: #8c1b1b;
  --segundo-color: #bf8275;
  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}



body {
  margin: 0;
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: sticky;
  z-index: 997;
  top: 0;
  padding: 1rem;
  display: flex;
    justify-content: space-between;
  background-color: var(--main-color);
  color: var(--cuarto-color);
}

header h1 {
  margin: auto .5rem;
  }

/* Menu*/
header nav ul {
  display: flex;
  font-size: 1.25rem;
}

header nav ul li {
  list-style: none;
}

header nav ul li a,
.presentacion div nav ul li a {
  color: var(--cuarto-color);;
  margin-right: 1.25rem;
  text-decoration: none;
}

header nav ul li a#activo {
  color: var(--tercer-color);;
  font-weight: bold;
}

header nav ul li a:hover,
.presentacion div nav ul li a:hover {
  text-decoration: underline;
}


section {
  padding: 2rem;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
 /*min-height: 100vh;*/
  text-align: center;
}

/* ***********  informacion  **********/

.informacion {
  display: flex;
  margin: 0;
}

.informacion div {
  margin: 5px auto;
}

.informacion div p {
    font-size: 22px;
    text-align: justify;
    padding: 15px 10px;
}
.informacion div nav ul {
  display: flex;
  padding-inline-start: 0
}

.informacion div nav ul li {
  font-size: 16px;
  list-style: none;
  padding: 0 10px;
}

.informacion div nav ul li a:after {
  content: "↗";
}

.informacion img {
  margin: auto 0;
  border-radius: 50% 50% 10% 50%;
}


/************ Seccion Formaciones  ************/

.formaciones {
  display: flex;
  flex-direction: row;
  margin: 0;
}


.formacion {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 16px;
  align-items: center;
  height: 200px;
  width: 25%;
  border: .2px solid #5d99e7;
  margin: .5rem;
  box-shadow: 3px 3px #82b2f1;
}

.formacion__imagen {
  width: 100%;
  height: auto;
  margin: 10px;
}

.formacion__imagen--1 {
  background: url(../imagenes/formaciones/ISET57.png) center /cover no-repeat;
  height: 40%;
}  


.formacion__imagen--2 {
  background: url(../imagenes/formaciones/Fundacion\ Libertad.png) center /cover no-repeat;
  height: 40%;
 }

.formacion__imagen--3 {
  background: url(../imagenes/formaciones/alura.png) center /cover no-repeat;
  height: 55%;
}

.formacion__imagen--4 {
  background: url(../imagenes/formaciones/argentina-programa.svg) center /cover no-repeat;
  height: 40%;
}

/************ Seccion Formaciones  ************/

.experiencia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 15px 0;

}

.experiencia__imagen {
  width: 40%;
  height: 300px;
  margin: 15px ;
}

.experiencia__imagen:nth-child(1){
  background: url("../imagenes/Codificador.gif") center /cover no-repeat;
}

.experiencia__imagen:nth-child(2){
  background: url("../imagenes/Ahorcado.gif") center /cover no-repeat;
}

.experiencia__imagen:nth-child(3){
  background: url("../imagenes/background.jpg") center /cover no-repeat;
}

.experiencia__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.experiencia__titulo{
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #464646;
  margin: 8px 10px;
}

.experiencia__descripcion{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
  margin: 8px 10px;
}

.boton {
  width: 105px;
  height: 21px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: #ffffff;
  margin: 0px 10px;
}

.experiencia__botones {
  display: flex;
  flex-direction: row;
}

.experiencia__repositorio{
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
  text-decoration: none;
}

.experiencia__demo {
  background: #2A7AE4;
  text-decoration: none;
}

.habilidades{
display: flex;
flex-direction: column;
align-items: center;
}

.habilidad{
display: flex;
flex-direction: row;
margin: .25rem;
}
.habilidad span{
  margin: 0 2rem;
}

/* **********     ScrollTopButton     ********** */
.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--segundo-color);
  color: var(--quinto-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  background-color: var(--tercer-color);
  color: var(--main-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* **********     Tema Oscuro     ********** */
.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--segundo-color);
  color: var(--quinto-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.dark-theme-btn:hover {
  background-color: var(--tercer-color);
  color: var(--main-color);
}

.dark-mode {
  background-color: var(--quinto-color);
  color: var(--main-color);
}

/* **********     Formulario de Contacto     ********** */



.contacto__contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacto__imagen {
  width: 232px;
  height: 297px;
  left: 0px;
  background: url("/imagenes/telefono.png") no-repeat center/100% ;
}

.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.contact-form>* {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 80%;
}

.contact-form textarea {
  resize: none;
}

.contact-form legend {
  font-size: 1.25rem;
  text-align: center;
}
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.contact-form *::placeholder {
  color: #000;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

footer{
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  background-color: var(--main-color);
  color: var(--cuarto-color);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}